.botones_SP{
    --bs-gutter-x: 0;
    padding: 0;
}

#entrada_siaer, #entrada_propuesta{
    height: 80px;
    border-width: 1px;
    line-height: 60px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    border-color:rgb(63,63,63);
    color: white;
    cursor: pointer;
}

/* .col{
    padding: 0;
} */

#datatable-upload-container{
    /* width: 100%; */
    width: 100%;
    left: 2px;
}

.tables_SP{
    --bs-gutter-x: 0;
    padding: 0 0 0 10px;
}

#check-rangeslider, #CEs, #OpCEs_0, #OpCEs_1{
    color: #A0AABA;
    padding: 0% 0%  0% 3%;
    font-size: 15px;
    border-color: rgb(63,63,63);
}

#check-rangeslider #_dbcprivate_checklist_check-rangeslider_input_slider, 
#CEs #_dbcprivate_checklist_CEs_input_T,
#OpCEs_0 #_dbcprivate_checklist_OpCEs_0_input_L,
#OpCEs_0 #_dbcprivate_checklist_OpCEs_0_input_P,
#OpCEs_0 #_dbcprivate_checklist_OpCEs_0_input_S,
#OpCEs_1 #_dbcprivate_checklist_OpCEs_1_input_F,
#OpCEs_1 #_dbcprivate_checklist_OpCEs_1_input_C,
#OpCEs_1 #_dbcprivate_checklist_OpCEs_1_input_O{
    background-color: #555;
}

#Servis-dropdown .Select .Select-control{
    
    /* font-size: 15px; */
    background-color: #555;
    border-color: rgb(63,63,63);
    color: #A0AABA;
    
}

#Servis-dropdown .Select .Select-control #react-select-3--value .Select-value{

    border-color: rgb(63,63,63);
    color: #A0AABA;

}

.Select-menu-outer{
    background-color: #555;
    border-color: rgb(63,63,63);
    color: #A0AABA;

}

#Servis-dropdown .Select .Select-control #react-select-2--value .Select-value{
    margin-left: -11px;
    margin-top: 5px;
}

/* #OpCEs #_dbcprivate_checklist_OpCEs_input_L:checked + label {
    color: rgba(51, 204, 255, 0.5);
}

#OpCEs #_dbcprivate_checklist_OpCEs_input_P:checked + label {
    color: rgba(255, 0, 102, 0.5);
}

#OpCEs #_dbcprivate_checklist_OpCEs_input_S:checked + label {
    color: rgba(102, 255, 51, 0.5);
}

#OpCEs #_dbcprivate_checklist_OpCEs_input_F:checked + label {
    color: rgba(204, 102, 255, 0.5);
}

#OpCEs #_dbcprivate_checklist_OpCEs_input_C:checked + label {
    color: rgba(255, 153, 153, 0.5);
}

#OpCEs #_dbcprivate_checklist_OpCEs_input_O:checked + label {
    color: rgba(255, 255, 0, 0.5);
} */

#select_band{
/* , #guardar, #reporte, #ocupacion, #iniciar{ */
    background-color: #555;
    border-color: rgb(63,63,63);
    color: #A0AABA;
}

::placeholder{

        color: #555;
    }

#guardar, #reporte, #ocupacion, #iniciar{

    background-color: rgba(33,134,244,0.5);
    border-color: rgb(63,63,63);
    color: #bdc7d7;

}

#datatable-upload-1-container{

    width: 97%;
    left: 0%;
    padding: 0px 0px 0px 2px;
    /* padding-left: 2px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0; */

}

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-fill-width::-webkit-scrollbar{
    width: 0.5em;
    height: 0.5em;
}


.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-fill-width::-webkit-scrollbar-track{
    background: #161A1D;
}

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-fill-width::-webkit-scrollbar-thumb {
    background: rgba(33,134,244,0.5);
}

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-fill-width::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*                                        Sin Filtro                                                                */

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-no-filter.dash-fill-width::-webkit-scrollbar{
    width: 0.5em;
    height: 0.5em;
}

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-no-filter.dash-fill-width::-webkit-scrollbar-track{
    background: #161A1D;
}

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-no-filter.dash-fill-width::-webkit-scrollbar-thumb {
    background: rgba(33,134,244,0.5);
}

.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-no-filter.dash-fill-width::-webkit-scrollbar-thumb:hover {
    background: #555;
}
