#contenedor{
    display: grid;

    width: 100%;
    height: 93vh;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 0.2fr auto;
    grid-template-areas: 
    "ckEnca ckEnca"
    "pas1 pas1"
    "datC datK"
    "pas2 pas3"
    "pas4 pas4";

}

#dropEntrada{

    margin-right: 10px;

}

#dropSalida, #dropTipo{
    width: 135px;
    padding: 5px 10px 5px 10px;
}

#dropSalida .Select-value .Select-value-label, 
#dropTipo .Select-value .Select-value-label{
    color: #A0AABA;
}

#checkEncabezado{
    display: flex;

    grid-area: ckEnca;
}

#chkHeader{
    display: inline-block;

    margin-right: 10px;

    color: #A0AABA;
}

#check1{
    display: inline-block;
}

#paso_1{

    grid-area: pas1;
}

#paso1{
    display: inline-block;
    margin-right: 10px;
}

p{
    color: #A0AABA;
}

label{
    color: #A0AABA;
}

#datos_csv{
    display: grid;

    grid-template-rows: auto 1fr;

    align-items: center;
    justify-content: center;

    grid-area: datC;
}

#CsvData{
    width: 700px;
}

.dash-table-container 
.dash-spreadsheet-container 
.dash-spreadsheet-inner table {
    --accent: #1EAEDB !important;
    --text-color: white !important;
    --hover: rgba(244, 33, 128, 0.212) !important;
}

.previous-next-container .page-number {
    color: #A0AABA;
}

.previous-next-container .page-number .current-page-container input.current-page{
background-color: rgba(63, 63, 63, 0.723) !important;
}

.dash-table-container .previous-next-container .page-number .current-page-container .current-page-shadow, .dash-table-container .previous-next-container .page-number .current-page-container input.current-page{
    border-bottom: none !important;
}

.previous-next-container .first-page,
.previous-next-container .previous-page,
.previous-next-container .next-page,
.previous-next-container .last-page{
    background-color: transparent;
    color: white;
}

#txtOutput{
    width: 700px;
    height: 90%;

    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;

    color: white;
    background-color: #1e1f22;
}

#txtCsvData::-webkit-scrollbar, 
#txtOutput::-webkit-scrollbar{
    width: 0.5em;
    height: 0.5em;
}

#txtCsvData::-webkit-scrollbar-track, 
#txtOutput::-webkit-scrollbar-track{
    background: #161A1D;
}

#txtCsvData::-webkit-scrollbar-thumb, 
#txtOutput::-webkit-scrollbar-thumb{
    background: rgba(33,134,244,0.5);
}

#txtCsvData::-webkit-scrollbar-thumb:hover, 
#txtOutput::-webkit-scrollbar-thumb:hover{
    background: #555;
}

#paso_2{

    grid-area: pas2;
}

#dropSalida .Select .Select-control, 
#dropTipo .Select .Select-control{
    background-color: #555;
    border-color: rgb(63,63,63);
    color: #A0AABA;
}

#files{
    display: inline-block;
    width: fit-content;
    border-style: dashed;

    border-width: 1px;
    border-color:rgb(63,63,63);

    padding: 2px 10px 2px 10px;
    text-align: center;
    color: white;
    cursor: pointer;

    border-radius: 4px;

}

#datos_kml{
    display: grid;

    grid-template-rows: auto 1fr;

    align-items: center;
    justify-content: center;

    grid-area: datK;
}


#paso_3{

    grid-area: pas3;
}

#paso_4{

    grid-area: pas4;
}
