#graficaMapa{
    position: absolute;
    width: 100%;
    height: 97.4vh;
}

.mantine-5f6x53{
    position: absolute;
    bottom: 1%;
    left: 1%;
    z-index: 1;
}
.mantine-ittua2{
    color: #A0AABA;
}
.offcanvas-header .btn-close{
    background-color: rgb(64, 64, 64);
}