#graficaMapa{
    position: absolute;
    width: 100%;
    height: 97.4vh;
}

#container-button_canvas{
    position: absolute;
    bottom: 1%;
    left: 1%;
    z-index: 1;
}

#offcanvas-scrollable #framework-select-label{
    color: #A0AABA;
}

.offcanvas-header .btn-close{
    background-color: rgb(64, 64, 64);
}
